.popup {
  font-family: 'Inter', 'Arial', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .20s, opacity .20s linear;
  z-index: 999;
}

