.popup__button_close {
  min-height: 40px;
  width: 40px;
  position: absolute;
  right: calc(((100vw - 430px) / 2) - 40px);
  top: calc(((100vh - 330px) / 2) - 40px);
  transform: rotate(45deg);
  cursor: pointer;
}

.popup__button_close:hover {
  opacity: 0.6;
}

@media (max-width: 619px) {
  .popup__button_close  {
    right: calc(((100vw - 282px) / 2));
    top: calc(((100vh - 330px) / 2) - 40px - 14px);
  }
}

