.profile {
  max-width: 880px;
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 50px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 880px) {
  .profile {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 619px) {
  .profile {
    height: auto;
    flex-direction: column;
  }
}




