.profile {
  width: 880px;
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 50px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

