.card__like-icon {
  width: 21px;
  background: transparent;
  background-image: url(../../../images/card-like.svg);
  border: none;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  box-sizing: inherit;
}

.card__like-icon:hover {
  opacity: .6;
  cursor: pointer;
}

/*
Я перехожу в макет по ссылке, которая дана в задании к этому спринту: https://www.figma.com/file/StZjf8HnoeLdiXS7dYrLAh/JavaScript.-Sprint-4?node-id=0%3A1

Да, теперь вижу, но в моей копии почему-то нет этой части. Добавил.
*/
.card__like-icon:active {
  background-image: url(/images/card-like-black.svg);
}


