.card__like-icon {
  width: 21px;
  background: transparent;
  background-image: url(/images/card-like.svg);
  border: none;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-position: center;
}

.card__like-icon:hover {
  opacity: .6;
  cursor: pointer;
}

/*
Я: Также необходимо задать состояние active, используя псевдокласс :active (он отражает, как элемент выглядит во время нажатия)
Внешний вид этого состояния можно посмотреть в макете

И: В моем макете нет этого в UI, видимо будет далее. Я также добавил подпапку для состония и темны .svg, прошу не добавлять это в следующим правкам, т.к. я планирую использовать это далее
*/
.card__like-icon:active {

}


