.card__like-icon {
  width: 21px;
  background: transparent;
  background-image: url(./../../../images/card-like.svg);
  border: none;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  box-sizing: inherit;
}

.card__like-icon:hover {
  opacity: .6;
  cursor: pointer;
}

.card__like-icon:active {
  background-image: url(./../../../images/card-like-black.svg);
}


