.header {
  width: 880px;
  margin: 0px auto;
  padding-top: 45px;
  padding-bottom: 41px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
}

@media (max-width: 880px) {
  .header {
    padding-left: 27px;
    width: calc(100% - 27px);
  }
}
@media (max-width: 619px) {
  .header {
    margin: 0;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 31.6px;
  }
}
