.profile__title {
  margin: 0;
  margin-right: 18px;
  display: inline;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media (max-width: 710px) {
  .profile__title  {
    font-size: 27px;
  }
}
