.profile__info-container {
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  color: #fff;
}

@media (max-width: 619px) {
  .profile__info-container {
    padding: 0;
    text-align: center;
  }
}
