.form__input {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 13px;
  width: 100%;
}

.form__input:nth-child(1) {
  margin-bottom: 30px;
}

.form__input::placeholder {
  color: #000;
}
