.popup__close-button {
  background: transparent;
  border: 0;
  border-radius: 0px;
  min-height: 40px;
  width: 40px;
  background-image: url(/images/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 40px;
  width: 40px;
  position: absolute;
  right: calc(((100vw - 430px) / 2) - 40px);
  top: calc(((100vh - 330px) / 2) - 40px);
  transform: rotate(45deg);
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media (max-width: 619px) {
  .popup__close-button  {
    min-height: 26px;
    width: 26px;
    right: calc(((100vw - 282px) / 2));
    top: calc(((100vh - 330px) / 2) - 26px - 14px);
  }
}

