.popup__close-button {
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0;
  border-radius: 0px;
  background-image: url(../../../images/close-button.svg);
  height: 40px;
  width: 40px;
  position: absolute;
  margin: 0;
  padding: 0;
  /*right: calc(((100vw - 430px) / 2) - 40px);
  top: calc(((100vh - 330px) / 2) - 40px);*/
  right: -40px;
  top: -40px;
  transform: rotate(45deg);
  cursor: pointer;

}

.popup__close-button:hover {
  opacity: 0.6;
}

@media (max-width: 619px) {
  .popup__close-button  {
    /*right: calc(((100vw - 282px) / 2));
    top: calc(((100vh - 330px) / 2) - 26px - 14px);*/
    width: 26px;
    height: 26px;
    top: -40px;
    right: 5px;
  }
}

