.footer {
  width: 880px;
  margin: 0px auto;
  padding-top: 66px;
  padding-bottom: 60px;
  color: #545454;
}

@media (max-width: 880px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    padding-left: 19px;
    width: calc(100% - 19px);
  }
}
